.sendButton {
  width: 100%;
  text-decoration: none;
  margin-top: 25px;
}

.emailContainer {
  position: relative;
  width: 100%;
}

.emailError {
  position: absolute;
  font-size: 9px;
  color: red;
  top: 25px;
  left: 0;
  width: 100%;
  text-align: center;
}

@media screen and (width < 450px) {

  .emailError {
    top: 10px;
  }

}



